anyio==4.12.1
asgiref==3.11.0
blinker==1.9.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
dash==3.4.0
Flask==3.1.2
h11==0.16.0
htmltools==0.6.0
idna==3.11
importlib_metadata==8.7.1
itsdangerous==2.2.0
Jinja2==3.1.6
linkify-it-py==2.0.3
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdit-py-plugins==0.5.0
mdurl==0.1.2
narwhals==2.15.0
nest-asyncio==1.6.0
numpy==2.4.1
orjson==3.11.6
packaging==26.0
pandas==3.0.0
platformdirs==4.5.1
plotly==6.5.2
prompt_toolkit==3.0.52
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-multipart==0.0.22
questionary==2.1.1
requests==2.32.5
retrying==1.4.2
rsconnect_python==1.28.2
semver==3.0.4
setuptools==80.10.2
shiny==1.5.1
shinychat==0.2.8
six==1.17.0
starlette==0.52.1
typing_extensions==4.15.0
uc-micro-py==1.0.3
urllib3==2.6.3
uvicorn==0.40.0
watchfiles==1.1.1
wcwidth==0.5.2
websockets==16.0
Werkzeug==3.1.5
wheel==0.46.3
zipp==3.23.0
